DATABASE_URL=postgresql://neondb_owner:npg_yIMNb4aKEZ8z@ep-weathered-fog-b5smac4m-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require
DEBUG=False
SECRET_KEY=django-insecure-ecoestate-india-bput-hackathon-secret-key-2026
ECOESTATE_EMAIL_USER=chhayakantamaharan@gmail.com
ECOESTATE_EMAIL_PASSWORD=miapcthmikywftlt
PYTHON_VERSION=3.11.8
